:root {
    --primary-color: #5a945a;
    --primary-color-hover: #568556;
    --danger-color: #e25b5b;
    --danger-color-hover: #d18e8e;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #F0F2F5;
}